body {
  font-size: 16px;
  color: #fff;
  background-color: #fff;
  font-family: arial;
}

#header-nav {
  background-color: #5B5555;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-family: Arial;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #fff;
  text-align: center;
}
#nav-list a:hover {
  background: #000;
}
#nav-list a span {
  font-size: 2.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.container {
  padding: 20px 15px 5px;
}
#Sushi {
  color: #000;
  position: relative;
  margin: 0 auto 15px;
  background-color: #5B5555;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 20px;
  font-size: 30px;
  font-family: arial;
}

#Chicken {
  color: #000;
  position: relative;
  margin: 0 auto 15px;
  background-color: #5B5555;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 20px;
  font-size: 30px;
  font-family: arial;
}
p {
  text-align: left;
  font-size: 20px;
  color: #fff;
}

#Beef {
  color: #000;
  position: relative;
  margin: 0 auto 15px;
  background-color: #5B5555;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 20px;
  font-size: 30px;
  font-family: arial;

}
#O {
  color: #000;
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 20px;
  font-size: 25px;
  font-family: arial;

}
@media (min-width: 1200px) {
 
  }
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  
  
}

@media (min-width: 768px) and (max-width: 991px) {
  
}

@media (max-width: 767px) {
  
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
.navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw; 

  }
  #collapsable-nav a { 
    font-size: 1.2em;
  }
 
}
  
@media (max-width: 479px) {
  .navbar-brand h1 {
    padding-top: 5px;
    font-size: 6vw;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
